<div class="cta-bar">
  <a
    class="cta-link fab fa-github"
    href="{{gitUrl}}"
    target="_blank"
  >
  </a>
  <a
    class="cta-link fab fa-linkedin"
    href="{{linkedinUrl}}"
    target="_blank"
  ></a>
  <a
    class="cta-link fas fa-envelope"
    href="mailto:{{email}}"
    target="_blank"
  ></a>
</div>