<section id="projects" class="info-block">
  <h1>Projects</h1>
  {{#each this}}
    <div class="project-elem">
      <h2 class="title">
        {{name}}
        <a class="fab fa-github" href="{{repoUrl}}" target="_blank"></a>
      </h2>
      <p class="tools">{{skills}}</p>
      {{{description.html}}}
    </div>
  {{/each}}
</section>