{{> navBar}}
{{> resume/header aboutMe.careerBio}}
<div id="content">
  {{> resume/about aboutMe.about}}
  {{> resume/education aboutMe.education}}
  {{> resume/experience aboutMe.experience}}
  {{> resume/projects aboutMe.projects}}
</div>
{{> resume/footer aboutMe.careerBio}}