{{> navBar}}
{{> resume/header personalBio}}
<div id="content">
  {{> resume/about personalBio.about}}
  {{> resume/education educations}}
  {{> resume/experience experiences}}
  {{> resume/projects projects}}
</div>
{{> resume/footer personalBio}}