:root {
  --base-color: hsl(60, 1%, 85%);
  --default-color: hsl(60, 2%, 16%);
  --primary-color: hsl(239, 40%, 43%);
  --secondary-color: hsl(59, 24%, 41%);
  --tertiary-color: hsl(60, 20%, 43%);

  --heading-font-size: 3rem;
  --title-font-size: 1.7rem;
  --subtitle-font-size: 1.4rem;
  --default-font-size: 1.3rem;

  --space: 4px;

  --default-transition: 0.6s;
}