.info-block {
  max-width: 768px;
}

.title {
  color: var(--primary-color);
  font-size: var(--title-font-size);
}

.title a {
  color: inherit;
}

.subtitle {
  font-size: var(--subtitle-font-size);
}

.keyword {
  color: var(--primary-color);
  font-weight: bolder;
}

.description {
  margin: calc(var(--space) * 3);
}

.title,
.subtitle,
.location,
.timeline,
.tools {
  margin: 0 var(--space) 0 var(--space);
  padding: 0;
}

.subtitle,
.location,
.timeline {
  color: var(--secondary-color);
}
